* {
    color: #FFF;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 40px 0 80px 0;
}

span {
    margin-bottom: 14px;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    margin: 14px 0 30px 0;
}

span {
    font-size: 14px;
    color: #abafb5
}

form input {
    width: 224px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    color: #abafb5;
    background: rgba(31, 41, 55, 0.60);
    padding: 9px 0 12px 49px;
}

form img {
    position: absolute;
    margin: 13px 192px 13px 18px;
}

p {
    max-width: 708px;
    line-height: 32px
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 16px;
    margin-right: 150px;
}

.menu img {
    border-radius: 3px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}

.menu__logo {
    display: flex;
    flex-direction: row;
    gap: 11px;
    justify-content: center;
    align-items: center;
}

.hero__devname {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px 16px;
    margin-bottom: 31px;
}

.hero__headline {
    text-align: center;
}

.hero1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.footer {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #abafb5;
    text-align: center;
    margin-bottom: 77px;
}

#image {
    width: 896px;
    height: 594px;
    flex-shrink: 0;
    border-radius: 5px;
    margin: 0 0 69px 0;
}