main {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;
}

input {
    font-size: 16px;
    background-color: #F5F5F5;
}

h1 {
    font-size: 36px;
}

span {
    color: #089FE0;
    ;
}

button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #089FE0;
    ;
}

section {
    font-size: 14px;
}