main {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    background-color: #F39494;
}

input {
    font-size: 16px;
    background-color: #F5F5F5;
}

h1 {
    font-size: 36px;
}

span {
    color: #089FE0;
    ;
}

button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #089FE0;
    ;
}

section {
    font-size: 14px;
}